.logo{
  height: 25vw;
}

.nav{
  transition: max-height .2s ease-in-out;
  max-height: 0;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 118px;
  z-index: 10;
  background-color: #FFFFFF;
}

.nav.show{
  transition: max-height .2s ease-in-out;
  max-height: 100vh;
}

.toggle {
  cursor: pointer;
}

.fa-bars{
  font-size: 1.7rem;
}

.link_text{
  font-size: 1.3rem;
  color: #060408;
}

.knap{
  height: 25px;
  width: 25px;
  background-color: #ff0314;
  position: relative;
  top: -170px;
  left: 60px;
border-radius: 100px;
}

.knap2{
  height: 25px;
  width: 25px;
  background-color: #ff0314;
  position: relative;
  top: -150px;
  left: 170px;
  border-radius: 100px;
}
.knap3{
  height: 25px;
  width: 25px;
  background-color: #ff0314;
  position: relative;
  top: -120px;
  left: 170px;
  border-radius: 100px;
}
.knap4{
  height: 25px;
  width: 25px;
  background-color: #ff0314;
  position: relative;
  top: -90px;
  left: 130px;
  border-radius: 100px;
}
.knap5{
  height: 25px;
  width: 25px;
  background-color: #ff0314;
  position: relative;
  top: -200px;
  left: 120px;
  border-radius: 100px;

}
.close{
  border-radius: 100px;
  height: 40px;
  background-color: #fffefe;
  width: 40px;
  font-size: 1.4rem;

}
.ja{
  width: 100px;
  border-radius: 100px;
}
.nej{
  width: 100px;
  border-radius: 100px;
}