.form__border{
  border: black 1px solid;
}

.form__radius{
  border-radius: 20px;
}

.knap__border{
  border: #D6D7D7 1px solid;
}

.knap__decoration{
  text-decoration: none;
}

body{
  font-family: Verdana, sans-serif;
}

.form__font{
  font-weight: bold;
}

.form__link{
  color: black;
  //text-decoration: none;
}